<div class="w-full">
	<% if notice.present? %>
		<p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
	<% end %>
	<div class="w-full">
		<%= render 'posts/corousel' %>
	</div>
	<div id="posts" class="min-w-full">
		<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
			<%= render @posts %>
		</div>
	</div>
</div>
